[core]
	bare = false
	filemode = true
	ignorecase = true
	logallrefupdates = true
	precomposeunicode = true
	repositoryformatversion = 0
[diff]
  tool = icdiff
[difftool]
  prompt = false
[difftool "icdiff"]
  cmd = icdiff --line-numbers $LOCAL $REMOTE | less -R 
[user]
  name = xxx
  email = xxx@xxx.com
[diff "minjs"]
  textconv = js-beautify
  cachetextconv = true
[diff "mincss"]
  textconv = js-beautify --css
  cachetextconv = true
